input {
  border: 1px solid aliceblue;
}

.Section{
  display: flex;
  justify-content: space-around;
}

.Wall {
  height: 200px;
  width: 400px;
  border: 2px black solid;
  float: left;
}

.sectionOne {
  margin-left: auto;
  margin-right: auto;
}

.InsulationForm{
display: flex;
  flex-direction: column;
align-items: center;
}
.TotalDiv {
  width: 200px;
}

.paintColor {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px solid #282c34;
}
.paintColor:hover{
  width: 22px;
  height: 22px;
}
.paintSection{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}